<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <!-- 配置dubbo服务-消费方 -->
    <dubbo:application name="demo-consumer"/>
    <!-- 使用广播(这里可不指定，而在下面增加url属性配置dubbo直连方式) -->
    <dubbo:registry address="multicast://224.5.6.7:1234"/>
    <!-- 声明要调用的服务，timeout是设置连接超时最长时间,如果不设置，超时时间默认是3秒 -->
    <dubbo:reference id="testDubboService" interface="com.lok.provider.TestDubboService"
     url="127.0.0.1:20880"/>
    
</beans>